:root{
    --bar-width:40px;
    --bar-height:5px;
    --hamburger-gap:4px;
    --foreground:white;
    --background:#0B0D17;
}


#navbar {
    color: var(--main-color);
    margin-top: 48px; /* Add your desired margin-top value */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(11, 13, 23, 0.4);
    z-index: 1000;
}
nav{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(255,255,255,0.05);
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px);
    z-index: 1;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7;
    
}

nav a{
    text-decoration: none;
    color:var(--main-color);
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 150px;
    margin-left: 170px;
   
}

nav li{
    
    width: 130px;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav li:hover{
    cursor: pointer;
    border-bottom:1px solid rgba(255,255,255,0.5);
}


.logo{
    
    margin-left: 48px;
    position: relative;
}

.logo::after{
    content: "";
    width: 500px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    position: absolute;
    top: 50%;
    margin-left: 80px;
    margin-right: 80px;
    z-index: 2;

}

.active{
    border-bottom: 1px solid var(--main-color);
}

.hamburger-menu,
#toggle{
    z-index: 3;
}

.hamburger-menu{
    display: none;
}


/* navbar for tablets */
@media (max-width:820px){
   
    #navbar {
        
        margin-top: 0;

    }
    nav{
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: rgba(255,255,255,0.05);
        backdrop-filter: blur(8px); 
        -webkit-backdrop-filter: blur(8px);
        z-index: 1;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 16px;
        letter-spacing: 2.7;
        
    }
    nav ul{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 25px;
        margin-left: 10px;
        margin-right: 10px;
       
    }
    nav li{
        width: fit-content;
        height: 80px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo::after{
        display: none;
    
    }
}


/* bigger tablets*/
@media (max-width:912px){
   
    #navbar {
        width: 100vw;
        margin-top: 0;

    }
    nav{
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: rgba(255,255,255,0.05);
        backdrop-filter: blur(8px); 
        -webkit-backdrop-filter: blur(8px);
        z-index: 1;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 16px;
        letter-spacing: 2.7;
        
        
    }
    nav ul{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 40px;
        margin-left: 15%;
        margin-right: 15%;
       
    }
    nav li{
        width: fit-content;
        height: 80px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo::after{
        display: none;
    
    }
}

/* mobile */
@media (max-width: 480px) {
    .hamburger-menu{
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        position: absolute;
        top: 25px;
        right: 10px;
        
    }
    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input{
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background: var(--foreground);
        border-radius: 9999px;

    }

    .hamburger-menu input{
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    .hamburger-menu input:checked{
        opacity: 0;
        width: 0;
    }

    nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 60%;
        z-index: 1;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;
        padding-top: 70%;
        margin: 0;
    }
    nav li {
        width: 100%;
        justify-content: flex-start;
    }
}
