@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Barlow+Condensed&family=Bebas+Neue&family=Bellefair&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

/* font-family: 'ADLaM Display', cursive;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Bellefair', serif;
font-family: 'Roboto', sans-serif; */

*,*::before,*::after{
    box-sizing: border-box;
}

:root{
    /* color variables */

    --main-color:rgba(255, 255, 255);
    --secondary-color:#D0D6F9;
    --miscellaneous-color:#0B0D17;

    /* font size variables */

    --heading-1-size:150px;
    --heading-2-size:100px;
    --heading-3-size:56px;
    --heading-4-size:32px;
    --heading-5-size:28px;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    max-height: 100vh;
    background: url(../images/home/background-home-desktop.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:var(--secondary-color);
    position: relative;
    overflow: hidden
   
    
}

/* #navbar{
    color: var(--main-color);
     margin-top: 48px;
     height: 80px;
     display: flex;
     align-items: center;
     justify-content: space-between;
    
} */

#navbar {
    color: var(--main-color);
    margin-top: 48px; /* Add your desired margin-top value */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(11, 13, 23, 0.4);
    z-index: 1000;
}
nav{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(255,255,255,0.05);
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px);
    z-index: 1;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7;
    
}

nav a{
    text-decoration: none;
    color:var(--main-color)
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 150px;
    margin-left: 170px;
   
}

nav li{
    
    width: 130px;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav li:hover{
    cursor: pointer;
    border-bottom:1px solid rgba(255,255,255,0.5);
}

h1{
    color: var(--main-color);
}

.logo{
    
    margin-left: 48px;
    position: relative;
}

.logo::after{
    content: "";
    width: 500px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    position: absolute;
    top: 50%;
    margin-left: 80px;
    margin-right: 80px;
    z-index: 2;

}

.active{
    border-bottom: 1px solid var(--main-color);
}

h1{
    font-family: 'Bellefair', serif;
    color: var(--main-color);
    font-size: var(--heading-1-size);
   
}

h4{
    font-family: 'Bellefair', serif;
    color: var(--miscellaneous-color); 
    font-size: var(--heading-4-size);
    
}

h5{
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--secondary-color);
    font-size: var(--heading-5-size);
    letter-spacing: 4.75;
}

.content-wrapper{
    /* border: 1px solid red; */
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30vh;
    margin-bottom: 10vh;
    justify-content: space-between;
    align-items: flex-end;
}
.hero{
   
    width: 18%;
    
}

.trigger{
    width: 274px;
    height: 274px;
    z-index: 1;
    border-radius: 50%;
    background-color: #979797;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: calc( 274px/2);
    margin-bottom: calc( (274px/2)/2);
}
.btn{
    width: 274px;
    height: 274px;
    z-index: 1;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: 2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

