*,*::before,*::after{
    box-sizing: border-box;
}

:root{
    /* color variables */

    --main-color:#FFFFFF;
    --secondary-color:#D0D6F9;
    --miscellaneous-color:#0B0D17;
}
body{
    margin: 0;
    padding: 0;
    max-height: 100vh;
    background: url(../images/home/background-home-desktop.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:var(--secondary-color);
    
}

#navbar{
    color: var(--main-color);
}

h1{
    color: var(--main-color);
}

