*,*::before,*::after{
    box-sizing: border-box;
}

:root{
    /* color variables */

    --main-color:#FFFFFF;
    --secondary-color:#D0D6F9;
    --miscellaneous-color:#0B0D17;
}
body{
    margin: 0;
    padding: 0;
    max-height: 100vh;
    background: url(../images/home/background-home-desktop.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:var(--secondary-color);
    
}

#navbar{
    color: var(--main-color);
     margin-top: 48px;
     height: 80px;
     display: flex;
     align-items: center;
     justify-content: space-between;
    
}
nav{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(11,13,23, 0.4);
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px);
    
}

nav a{
    text-decoration: none;
    color:var(--main-color)
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 150px;
    margin-left: 170px;
   
}

nav li{
    
    width: 130px;
    height: 80px;
    text-align: center;
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: var(--main-color);
}


